<!DOCTYPE html>
<html lang="en" ng-app="GitBit">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1" />
  <title>GitBit</title>
  <meta name="authors" content="">

  <!-- styles -->
  <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.min.css">

  <!-- Font-Awesome -->
  <link rel="stylesheet" type="text/css" href="styles/font-awesome.min.css">

  <!-- custom -->
  <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body layout="column" ng-controller="mainController" ng-cloak>

  <!-- The left sidebar -->
  <div layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <!-- The top toolbar -->
      <h1 class="md-toolbar-tools gitbit_info" layout-align-gt-sm="center"><img src="images/brand.png"></h1>

    <!-- UserProfile -->
    <div class="profile" ng-show="show" ng-cloak>
      <div>
        <img ng-src="{{ userImageUrl }}" alt="Profile Picture" class="md-avatar face">
        <md-tooltip>
            Profile Picture
        </md-tooltip>
      </div>

      <md-divider class="hr"></md-divider>

      <div class="md-list-item-text">
        <!-- Username -->
        <h1> {{ userFullName }} </h1>

        <!-- user name -->
        <h4 class="username"><i class="fa fa-user"></i> {{ userLogin }}
          <md-tooltip>
            UserName
          </md-tooltip>
        </h4>

        <!-- email -->
        <h4 class="email"><i class="fa fa-envelope-o"></i><strong> {{ userEmail }}</strong>
          <md-tooltip>
            Email
          </md-tooltip>
        </h4>

        <!-- location -->
        <h5 class="location"><i class="fa fa-map-marker"></i><strong> {{ userLocation }}</strong>
          <md-tooltip>
            Location
          </md-tooltip>
        </h5>

        <!-- hire -->
        <h4 class="userHire"><i class="fa fa-briefcase"></i><strong> Hireable: {{ userAvailableForHire }}</strong></h4>
      </div>


      <div class="md-list-item-text gitbit_userbio">
        
        <!-- The Chips -->
        <md-chips>
          <md-chip>
            <!-- Repo Url -->
            <strong><i class="fa fa-link"></i> <a href="{{ repoUrl }}"> Repository URL</a>
              <md-tooltip>
                Repo URL
              </md-tooltip>
            </strong>
          </md-chip>
          <md-chip>
            <!-- Github Url -->
            <strong><i class="fa fa-github"></i><a href="{{ userProfileLink }}"> Github URL</a>
              <md-tooltip>
                Github URL
              </md-tooltip>
            </strong>
          </md-chip>
        </md-chips>
        
        <!-- The Chips -->
        <md-chips>
          <md-chip>
            <strong><i class="fa fa-users"></i> {{ followersNumber }} Followers</strong>
          </md-chip>
          <md-chip>
            <strong><i class="fa fa-users"></i> {{ followingNumber }} Following</strong>
          </md-chip>
          <md-chip>
            <i class="fa fa-inbox"></i> {{ numberOfPublicRepos }} Repository
          </md-chip>
          <md-chip>
            <i class="fa fa-building"></i> Works at {{ userCompany }}
          </md-chip>
        </md-chips>

      </div>
    </div>
    <h1 class="no-content" ng-hide="tip">No Content!</h1>
    </md-sidenav>

    <!-- The content area -->
    <div layout="column" flex id="content">
      <md-content flex class="md-padding">
        <!-- The search container -->
        <md-card class="search-card">
          <md-card-content>
            <div class="search_field">
              <md-content layout-padding>
                <form layout="row">
                  <md-input-container flex>
                    <label>Search GitBit (e.g. andela-example)</label>
                    <input required name="searchQuery" ng-model="searchQuery">
                    <div ng-messages="searchQuery.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-button class="md-fab md-primary md-icon-button" type="submit" aria-label="search" ng-click="getUserObject(searchQuery)">
                    <i class="fa fa-search"></i>
                  </md-button>
                </form>
              </md-content>
            </div>
          </md-card-content>
        </md-card>

        <!-- The main container -->
        <div ng-show="show">
          <md-content class="md-padding">
            <md-tabs md-dynamic-height md-border-bottom>
              <!-- repository repeater -->
              <md-tab label="Repository">
                <md-content class="md-padding">
                   <md-list-item ng-repeat="repo in repoArray">
                    <a href="{{ repo.html_url }}" type="link" target="_blank">
                      <md-list-item>
                        <div class="md-list-item-text">
                          <h2 class="md-display-1"><i class="fa fa-info icon"></i> {{ repo.name }}</h2>
                          <h4 class="md-title"><i class="fa fa-tags icon"></i>{{ repo.description }}</h5>                       
                          <h6 class="md-subhead"><i class="fa fa-file icon"></i> {{ repo.size }} files</h6>
                        </div>
                      </md-list-item>
                      <md-divider></md-divider>
                    </a>
                  </md-list-item>
                </md-content>
              </md-tab> 
              <!-- followers repeater -->
              <md-tab label="Followers">
                <md-content class="md-padding">
                  <md-list-item class="outer-list" ng-repeat="followers in followersArray">
                    <a href="{{ followers.html_url }}" type="link" target="_blank">
                      <md-list-item class="inner-list">
                        <img class="avatar" ng-src="{{ followers.avatar_url }}" alt="{{ followers.login }}">
                        <md-tooltip>
                          {{ followers.login }}
                        </md-tooltip>
                      </md-list-item>
                    </a>
                  </md-list-item>
                </md-content>
              </md-tab>
              <!-- following repeater -->
              <md-tab label="Following">
                <md-content class="md-padding">
                  <md-list-item class="outer-list" ng-repeat="following in followingArray">
                    <a href="{{ following.html_url }}" type="link" target="_blank">
                      <md-list-item class="inner-list">
                        <img class="avatar" ng-src="{{ following.avatar_url }}" alt="{{ following.login }}">
                        <md-tooltip>
                          {{ following.login }}
                        </md-tooltip>
                      </md-list-item>
                    </a>
                  </md-list-item>
                </md-content>
              </md-tab>           
            </md-tabs>
          </md-content>
        </div>
        <p ng-hide="tip">GitBit provides enables you grab a github user and get detailed  information about such user...<br>
          Enter a Github user's username and click on search (or tap the enter button). 
        </p>
      </md-content>
    </div>    
  </div>

    <!-- Scripts -->
    
    <!-- Angular Material Dependencies -->
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>

    <!-- controllers -->    
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/services/api-call.js"></script>
    <script type="text/javascript" src="scripts/controllers/mainController.js"></script>
</body>
</html>