/*      Imported Fonts
================================================== */
@font-face {  font-family: "CaviarDreams";
src: url("../fonts/caviar_dreams/CaviarDreams.ttf");}

@font-face {  font-family: "CaviarDreams-Bold";
src: url("../fonts/caviar_dreams/CaviarDreams_Bold.ttf");}

@font-face {  font-family: "Roboto-BoldCondensed";
src: url('../fonts/roboto/Roboto-BoldCondensed.ttf');}

@font-face {  font-family: "Roboto-Bold";
src: url('../fonts/roboto/Roboto-Bold.ttf');}

@font-face {  font-family: "Roboto-Condensed";
src: url('../fonts/roboto/Roboto-Condensed.ttf');}

@font-face {  font-family: "Roboto-Light";
src: url('../fonts/roboto/Roboto-Light.ttf');}

@font-face {  font-family: "Roboto-Medium";
src: url('../fonts/roboto/Roboto-Medium.ttf');}

@font-face {  font-family: "Roboto-Regular";
src: url('../fonts/roboto/Roboto-Regular.ttf');}

/* Scroll Bar
  ================================================== */
::-webkit-scrollbar {width: 8px; height: 2px;}
::-webkit-scrollbar-track {
  background-color: #ddd;
  opacity: .2;
  margin: 2px 0px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 5px;
}

.menuBtn {
  background-color: transparent;
  border: none;
  margin-left: 16px;
}
md-list .md-button {
  color: inherit;
  text-align: left;
  width: 100%;
}

.gitbit_info-container {
  position: absolute; left: -18px;
  margin-top: 70px;
}

.gitbit_info{  
  font-size: 40px;
  font-family: monospace;
  color: #ddd;
}

.profile {
  margin: 60px 20px;
  text-align: center;
}

.face {
  width: 190px;
  height: auto;
  border-radius: 100%;
  border: 1px solid #ddd; 
}

.email {
  font-size: 12px;
}

.search-card {
  margin-top: -10px;
}

.search_field {
  padding: 3px 16px;
}

.main-container-card {
  overflow-y: scroll;
  height: 570px;
}

.main-content {
  padding: 6px;
}